*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* #header-region */
header{
    background-color: orange;
}
    
    
    

   

.header-container{
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    position: relative;
    top: 25%;
    
}
    

.header-row{
    display: flex;
    justify-content: space-between;
   
}
    
    
    

.header-links > a{
    color: white;
    text-decoration: none;
}
   
    
.logo{
    width: 15%;
    position: relative;
    left: 28%;
}
/* #endheader-region */

.main-container{
    width: 80%;
    margin: 2rem auto;
    
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
   
}



.col-4{
    width: calc(100% / 12 * 4);
    
}
    
    

.img-modelli > img{
    width: 75%;
}

.price{
    color:red
}

.discount{
    text-decoration: line-through;
}



.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.product{
    position:relative
}

.bedge{
    position:absolute;
    top: 75%;
}

.heart{
   
    position: absolute;
    left: 67%;
    top: 2%;
    background-color: white;
    padding: 0.5rem 0.5rem;
}

/* #:hover-region */

.heart:hover{
    color: red;
}

.overlay{
    display: none;
}

.overlay:hover{
    display: contents;
}



/* #endmain-region */


/* #footer-section */
footer{
    height: 80px;
    background-color: black;
    
   
   
}

.footer-container{
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}



.footer-links  a, h4 {
    color: white;
    text-decoration: none;
}

.icons{
    color: white;
    position:absolute;
    left: 80%;
}



/* #endfooter-section */
    

    

    
   
    

